@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

    <h1 class="text-danger alert alert-danger text-center" >  @ViewBag.ErrorMessage</h1>
<h2 class="text-danger alert alert-danger">An error occurred while processing your request.</h2>

