@model IEnumerable<E_Learning.Models.StuSubTea>

@{
    ViewBag.Title = "Index";
}

<section id="pricing" class="pricing">
    <div class="container">

        <div class="section-title">
            <h2> Dashboard</h2>
        </div>
        <div class="row">

            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-4">
                    <div class="box ">
                        <h3 style="font-size:50px;">@item.StudentSubject.SubjectClass.Subject.SubName</h3>
                        <ul>
                            <li><h4>@item.Teacher.TeachName</h4> </li>
                        </ul>
                        <div class="btn-wrap">
                            @Html.ActionLink("مشاهده الفيديوهات", "IndexVideo", new { id = item.StuSubTeaID }, new { @class = "btn btn-warning" })

                        </div>
                    </div>
                </div>
            }

        </div>

    </div>
</section>



