
@model IEnumerable<E_Learning.Models.SubjectClass>

@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    ViewBag.Title = "AddLevelTeach";
}


<h1 class="alert alert-danger text-center ">@ViewBag.subname </h1>

@using (Html.BeginForm("EditLevelTeach", "Admin", new { id = @ViewBag.TeachId }, FormMethod.Post))
{
    @Html.EditorForModel()
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="save" class="btn btn-warning" />
        </div>
    </div>

}
<div>
    @Html.ActionLink("Back to List", "IndexTeach", null, new { @class = "btn btn-outline-dark" })
</div>


